.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

**/.svn/
**/.vs/
**/.vscode/
**/.idea/
**/.DS_Store
**/[Dd]ebug/
**/[Oo]bj/
**/[Tt]emp/
# 可能会误伤Tools
**/[Bb]in/

*/TestResults/

# 项目文件通过 Edit - Preferences - External Tools - Regenerate project files在本地生成
/Unity/*.csproj
/Unity/Unity.sln

/Tools/ExcelExporter/Bin/Client/
/Tools/ExcelExporter/Bin/Server/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Logs
/Unity/CSharp60Support/compilation.log
/Tools/MongoDB
/Excel/md5.txt
/Release
/Unity/Logs
/Unity/Assets/Mono/ILRuntimeGenerate/ILBindingAuto/
/Unity/UserSettings/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.objs/
/Unity/.gradle
/*.user
/ToolsApp/

/Unity/Assets/Res/Code/Hotfix.dll.bytes
/Unity/Assets/Res/Code/Hotfix.pdb.bytes
/Unity/Assets/Res/Code/HotfixView.pdb.bytes
/Unity/Assets/Res/Code/HotfixView.dll.bytes
/Unity/Assets/Res/Code/Model.dll.bytes
/Unity/Assets/Res/Code/Model.pdb.bytes
/Unity/Assets/Res/Code/ModelView.dll.bytes
/Unity/Assets/Res/Code/ModelView.pdb.bytes